# Python Basics

In [1]:
# Ans1-
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Printing the Pandas Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Ans2-
# Creating a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Creating a Pandas Series from the list
my_series = pd.Series(my_list)

# Printing the Pandas Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#Ans3-Create a pandas dataFrame 
data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
   'Gender':['female','male','female']
}
df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Ans4-
Pandas DataFrame->A DataFrame in pandas is a two-dimensional, tabular data structure with labeled axes (rows and columns).And capable of holding various data types.

Pandas Series->A Pandas Series is a one-dimensional labeled array capable of holding data of various types,

In [6]:
# Creating a Pandas Series
series_data = pd.Series([1, 2, 3, 4])

# Creating a DataFrame from a dictionary
data = {'Column1': [1, 2, 3, 4],
        'Column2': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)

# Printing the Pandas Series and DataFrame
print("Pandas Series:")
print(series_data)

Pandas Series:
0    1
1    2
2    3
3    4
dtype: int64

In [8]:
print("\nDataFrame:")
df

DataFrame:

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

Ans5-head() and tail(): Display the first or last n rows of a DataFrame.

df.head(3)  # Display the first 3 rows

info(): Provides a concise summary of a DataFrame, including data types and missing values.
df.info()

describe(): Generates descriptive statistics of the DataFrame, such as mean, min, max, etc.
df.describe()

shape: Returns the dimensions (rows, columns) of the DataFrame.
df.shape

value_counts(): Count unique values in a column.
df['Column'].value_counts()

Ans6-Series: Mutable,
DataFrame: Mutable,
Panel: Mutable (Note: As of pandas version 0.25.0, the Panel class has been deprecated, and multi-dimensional data is generally handled using MultiIndex DataFrames.)

In [9]:
# Ans7-
# Creating multiple Pandas Series
s1 = pd.Series([1, 2, 3], name='Column1')
s2 = pd.Series(['A', 'B', 'C'], name='Column2')
s3 = pd.Series([10.5, 20.3, 15.8], name='Column3')

# Creating a DataFrame using the Series
df = pd.DataFrame({s1.name: s1, s2.name: s2, s3.name: s3})

# Printing the DataFrame
df

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.3
2        3       C     15.8

In this example, s1, s2, and s3 are three Pandas Series. The pd.DataFrame() constructor is used to create a DataFrame by passing a dictionary where keys are column names, and values are the corresponding Series. The resulting DataFrame df looks like: